html, body 
{
    height: 100%;
    margin: 0;
}

body    /*place le header, body et footer*/
{  
    display: grid;
    grid-template-rows: auto 1fr auto;
    background-color: rgb(10, 10, 10);
    color: rgb(248, 232, 194);
    font-family: "Segoe UI", "Roboto", "Helvetica Neue", Arial, sans-serif;
}
header
{   
    background-color: rgb(0, 0, 0);
}

header h1
{
    margin: 2px;
    color:rgb(255, 230, 160);
    text-align: center;
    font-size: 4em;
}
 nav ul li  /*met les éléments de la nav sur une ligne*/
{
    display: inline-block;
    list-style-type: none;
    padding: 0;
}

nav ul li a /*liens dans la nav en petits boutons*/
{
    text-decoration: none;
    color: rgb(255, 217, 140);
    font-family: "Segoe UI", "Roboto", "Helvetica Neue", Arial, sans-serif;
    padding-right: 25px;
    padding-left: 25px;
    font-size: 1.2em;
    border: outset rgb(30, 30, 30);
    border-width: 4px;
    border-radius:  2px;
    margin: 5px;
}


nav /*delimite la nav*/
{
    text-align: center;
    background-color:rgb(30, 30, 30);
    padding: 15px;
    margin-bottom: 0px;
    border: solid rgb(248, 232, 194) 3px;
}

nav ul li a:hover 
{
    color: rgb(255, 230, 160);
    text-shadow: 0 0 8px rgba(255, 230, 160, 0.6); /*rgba permet de rajouter opacité*/
    font-weight: bold;
    font-size: 1.3em;
    border-color: rgb(255, 217, 140);
    padding: 0px 35px;
    cursor: pointer;    /*change le curseur en main avec doigt*/
}

nav ul li a:active
{   
    padding-left: 20px;
    padding-right: 20px;
    transition: 0.1s;
    font-size: 1.1em;
    cursor: pointer;
}

@media (max-width: 780px) {     
/*met les éléments de la nav en colonne quand trop petit pour pas superposé*/
    nav ul li {
        display: block;
        margin-bottom: 10px;
    }
}
main
{
    padding: 20px;
}

footer em   /*pour le copyright etc*/
{
    display: block;
    font-style: italic;
    text-align: center;
}

footer /*place le prenom à droite*/
{
    padding-right: 10px;
    margin: 0px;
    text-align: right;
}

footer
{ 
    position: relative;
    margin-bottom: 0px;
    font-size: 0.8em; 
    margin-top: 20px;
    padding: 10px;
    background-color: rgb(30, 30, 30);
    border-top: solid rgb(248, 232, 194) 3px;
}

footer a    /*place le lien letterboxd en bas à gauche*/
{
    position: absolute;
    left: 0;
    padding-top: 2px;  
    padding-bottom: 2px;
    padding-left: 10px;
    padding-right: 10px;
    text-decoration: none;
    color: white;
    font-weight: 700;
}


/*lien vers la page duel*/
main a{
    display: block;
    width: fit-content; /* la largeur du bloc s'adapte au contenu (l'image)*/
    margin-left: auto;
    margin-right: auto;
}
a img 
{
    display: block;
    padding: 20px;
    width: 150px;
    height: auto;
}

a img:hover 
{
    cursor: pointer;
    transform: scale(1.1);  /*permet d'agrandir l'image*/
    transition: 0.3s ease-in-out; /*gere la transition*/
}

a img:active
{
    transform: scale(1.0); 
}

main p{ /*pour le texte en dessous des présentation*/
    margin-top: 150px;
    text-align: center;
    font-size: 1.8em;
}

main p br{
    margin-top: 100px;
}

h2  /*pour le titre des sections*/
{   
    margin-top: 0px;
    margin-bottom: 45px;
    text-align: center;
    font-size: 3em;
    text-decoration: underline;
} 

h3
{
   text-align: center;
   margin-right:0%;
   font-size: 2em;
   margin-top: 32px;
   margin-bottom: 32px;
}

h3+ul
{
   justify-self: center;
   font-size: 1.6em;
}

ul li
{
    margin-top: 15px;
}



/*premier partie à gauche, deuxieme centre, troisieme à droite*/
main ol li:nth-of-type(1)   
{   
    position: relative;
    justify-self: start; 
}   


main ol li:nth-of-type(2)
{ 
    position: relative;
    justify-self: center; 
} 
  

main ol li:last-child
{ 
    justify-self: end; 
}   

main ol li p
{
    margin: 0;
    text-align: center;
    font-size: 1.4em;
}

img
{   margin: 0;
    padding: 5px;
    width: 350px;
    height: auto;
}

/*place les deux première images hors du flux pour garder les textes des li en petits "escaliers"*/
ol li:first-child img
{   
    position: absolute;
}

ol li:nth-of-type(2) img
{
    position: absolute;
}


ol li:last-child img
{
    padding-bottom: 0;
}

ol em
{
    font-style: italic;
    font-size: 1.2em;
    font-weight: 500;
}

/*pour la citations*/
blockquote
{
    font-style: italic;
    margin-top: 60px;
    margin-bottom: 0px; 
    margin-left: auto;
    margin-right: auto;;
    padding-bottom: 10px;
    width: 40%;
    font-size: 0.9em;
}

cite{
    display: block;
    margin-left: 30%;
    font-size: 0.8em;
}

div.commentmarche   /*pour délimiter toute la section d'explication*/
{
    margin-top: 150px;
    border-radius: 20px;
    background-color: rgb(37, 37, 37);
}

/*mettre point liste un en dessous des autres quand trop petit*/
@media (max-width: 1250px) {
    ol{
        display: flex;
        flex-direction: column;
    }
    ol li img,  ol li:nth-of-type(2) img, ol li:first-child img{
        position: static;   /*pour remettre dans flux et enlever l'absolut*/
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    
}









figcaption
{
    font-size: 1.2rem;
    font-weight: lighter;
    margin-top:5px;
    color: rgba(248, 232, 194, 0.6);
    border-bottom: solid thin rgba(185, 185, 185, 0.6);
    padding-bottom: 6px;
    font-style: italic;
}


figcaption strong
{
    font-size: 1.4em;
    font-style: normal;
    text-align: left;
    font-weight: bold;
    color: rgb(248, 232, 194);
}

figure
{
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
}

.droite, .gauche{   /*delimite les zone des films*/
    border-radius: 25px;
    width: auto;
    padding: 0px;
    vertical-align:top;
    border:1px double rgba(255, 255, 255, 0.974);
 }


 .droite:hover, .gauche:hover
{
    cursor: pointer;
    transform: scale(1.1); 
    transition: 0.05s;
    box-shadow: 0 0 25px rgba(253, 253, 253, 0.4);
}

.gauche:not(:has(a:hover)):active, .droite:not(:has(a:hover)):active  
/*permet de n'avoir l'agrandissement que si on clique sur autre chose que le lien vers la page imdb du film 
=> évite le problème où le clique déplace le lien en agrandissant la div et donc impossible de cliquer dessus */
{
    cursor: pointer;
    transform: scale(1.15);
    transition: 0.05s;
}

.appuyer /*pour jquerry*/
{
    transform: scale(1.15);
    transition: 0.05s;
    box-shadow: 0 0 25px rgba(253, 253, 253, 0.4);
}

.gauche img, .droite img
{   
    border-radius: 20px;
    max-height: 470px;
    padding: 4%;
    width: 100%;
    height: auto;
    box-sizing: border-box; /*inclut le padding dans la taille*/
}


table 
{
    padding-top: 6px;
    font-family: "Segoe UI", "Roboto", "Helvetica Neue", Arial, sans-serif;
    width: 100%;
}


th:first-child 
{
    color: rgba(248, 232, 194, 0.4);
    font-weight: bolder;
    width: 45%;
    text-align: left;
    background-color: rgb(25, 25, 25);
}


tfoot tr:first-child th
{
    border-bottom-left-radius: 25px;
}

tfoot tr:last-child th, tfoot th+th:nth-child(2)
{
    width: 25%;
    border-radius: 0%;
    color: rgba(248, 232, 194, 0.7);
    background-color: rgb(25, 25, 25);
    text-align: center;
    font-weight: normal;
}

td
{
    font-weight: lighter;
    text-align: center;
    background-color: rgb(40, 40, 40);
}

/*couleurs différentes une ligne sur 2 pour lisibilité */
tfoot tr:last-child td
{
    border-bottom-right-radius: 25px;
}

table tbody tr:nth-child(2) th
{
  background-color: rgb(5, 5, 5);
}

table tbody tr:nth-child(4) th
{
  background-color: rgb(5, 5, 5);
}

table tbody tr:nth-child(2) td
{
  background-color: rgb(20, 20, 20);
}

table tbody tr:nth-child(4) td
{
  background-color: rgb(20, 20, 20);
}

.versus /*place les deux films et le VS au centre*/
{
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    grid-gap: 20px;
    justify-items: center;
    align-items: center;
    margin-bottom: 50px;
}   

.gauche, .droite
{
    text-align: center;
    margin: 10px;
}



table a
{
    font-size: 0.9em;
   color: rgb(255, 204, 102);
}

table a:hover
{
  color: rgb(255, 230, 160);
  text-shadow: 0 0 8px rgba(255, 230, 160, 0.6);
  font-weight: bold;
  font-size: 0.95em;
}




table a:hover::before
{
  content: "👉 ";
}


.VS /*logo vs*/
{
    padding: 10px;
    /*linear gradient pour faire un dégradé entre rouge et bleu, orientation, couleur 1, couleur 2*/
    background: linear-gradient(100deg, rgba(180, 0, 0, 0.35), rgba(0, 0, 180, 0.35));
    border-radius: 55px;
    font-size: 4em;
    font-weight: bolder;
    color: rgb(255, 230, 160);
    text-shadow: 0 0 12px rgba(255, 0, 0, 0.822);
}




fieldset 
{
    border-width: 1px;
    border-style: solid;
    border-color: rgb(82, 82, 82);
    border-radius: 13px;
    margin-top: 50px;
    padding: 25px;
    background-color: rgb(20, 20, 20);
}



legend
{
    font-size: 1.4em;
    padding-left: 15px;
    padding-right: 15px;
}

input, select, textarea
{
    font-size: 0.9em;
    width: 100%;
    background-color: rgb(50, 50, 50);
    border: 1px solid #333;
    border-radius: 8px;
    color: #eee;
    padding: 13px 10px;
    box-sizing: border-box;
}

label {
    display: inline-block;
    margin-top: 25px;
    margin-bottom: 5px;
    font-size: 1.1em;  
}

input+label[for="titre"], select+label[for="genre"] /*pour les ptits messages après input*/
{
    display: inline-block;
    font-size: 0.75em;
    margin: 0;
}
label[for="compte"]
{
    margin-top: 0px;
}

input[type="email"]
{
    margin-bottom: 25px;
}

input[type="radio"], input[type="checkbox"]
{
    margin-bottom: 0;
    width: auto;
    accent-color: #ff5757;
    cursor: pointer;
}


input[type="radio"]+label
{
    font-size: 0.9em;
    margin-top: 0;
    cursor: pointer; 
    margin-right: 50px;
    margin-left: -20px;
    padding: 20px;
}

fieldset+label  /*pour la newsletter*/
{
    margin-left: 20px;
    font-size: 0.7em;
    margin-top: 0;
    cursor: pointer;
}
em{
    font-size: 1.1em;
    font-style: normal
}

input:focus, select:focus, textarea:focus
{
    color: rgb(199, 199, 199);
    outline:none;
    border-color: rgb(255, 230, 160);
}

button 
{
    background-color: rgb(255, 217, 140);
    color: rgb(10, 10, 10);
    border: none;
    padding: 10px 20px;
    font-size: 1.2em;
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    border-radius: 15px;
    cursor: pointer;
    font-weight: bold;
    box-shadow: 0 5px 15px rgba(255, 217, 140, 0.2);
}

button:hover
{
    background-color: rgb(255, 230, 160);
    transform: scale(1.1) translateY(-5px); /*translateY permet de déplacer sur l'axe y*/
    box-shadow: 0 8px 20px rgba(255, 230, 160, 0.3);
}

button:active 
{
    transform: translateY(2px);
    box-shadow: 0 4px 10px rgba(255, 230, 160, 0.2);
}

#valeurnote 
{
    font-size: 1.5em;
    font-weight: bold;
}

/*si grand écran, les radios sont l'unes à côté de l'autre*/
.radiopetit {
    display: inline;
}
/*si petit écran, l'une en dessous de l'autre pour que le label et l'input reste à côté"*/
@media (max-width: 800px){
    .radiopetit{
        display: flex;
        align-items: center; 
    }

}



.tournoi {  /*place la grille des resultats*/
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr; /*debut, quart, demi, final*/
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;    /*huit film au début*/
    row-gap: 20px;
    column-gap: 50px;
    margin-top: 40px;
    align-items: center;
}

.match {
    background-color: rgb(50, 50, 50);  /*pour chaque film petites "cases"*/
    border-radius: 8px;
    text-align: center;
    padding: 8px 10px;
    position: relative;
}

/* Colonne 1, les 8 films */
.f1  { grid-column: 1; grid-row: 1; }
.f2  { grid-column: 1; grid-row: 2; }
.f3  { grid-column: 1; grid-row: 3; }
.f4  { grid-column: 1; grid-row: 4; }
.f5  { grid-column: 1; grid-row: 5; }
.f6  { grid-column: 1; grid-row: 6; }
.f7  { grid-column: 1; grid-row: 7; }
.f8  { grid-column: 1; grid-row: 8; }

/* Colonne 2, quarts */
/* "/ span n" pour fusionner les colonnes et placer au milieu vertical des 2 précédents */
.q1 { grid-column: 2; grid-row: 1 / span 2;  } 
.q2 { grid-column: 2; grid-row: 3 / span 2;  } 
.q3 { grid-column: 2; grid-row: 5 / span 2;  }
.q4 { grid-column: 2; grid-row: 7 / span 2;  }

/* Colonne 3, demi */
.d1 { grid-column: 3; grid-row: 1 / span 4;  }
.d2 { grid-column: 3; grid-row: 5 / span 4; }

.gg { grid-column: 4; grid-row: 1 / span 8; }

/*on met police de taille fixe pour garder les traits positionés comme voulu)*/
.gg
{
font-weight: bold; font-size: 22px;
}

.f1, .f2, .f3, .f4, .f5, .f6, .f7, .f8
{
    font-size: 16px;
}

.q1, .q2, .q3, .q4
{
    font-size: 18px;
}


.d1, .d2
{
    font-size: 20px;
}

/*trait horizontal qui part de la case*/
.f1::after, .f2::after, .f3::after, .f4::after,
 .f5::after, .f6::after, .f7::after, .f8::after
{
    content: "";
    position: absolute;
    top: 50%;
    right: -25px;
    width: 25px;
    height: 2px;
    background-color:whitesmoke;
}

.q1::after, .q2::after, .q3::after, .q4::after
{
    content: "";
    position: absolute;
    top: 50%;
    right: -25px;
    width: 25px;
    height: 2px;
    background-color:whitesmoke;
}

.d1::after, .d2::after
{
    content: "";
    position: absolute;
    top: 50%;
    right: -25px;
    width: 25px;
    height: 2px;
    background-color:whitesmoke;
}

/*trait vertical qui relie les deux horizontaux avant*/
.q1::before, .q2::before, .q3::before, .q4::before
{
    content: "";
    position: absolute;
    top: -9px;
    left: -25px;
    width: 2px;
    height: 60px;
    background-color:whitesmoke;
}


.d1::before, .d2::before
{
    content: "";
    position: absolute;
    top: -36.5px;
    left: -25px;
    width: 2px;
    height: 118px;
    background-color:whitesmoke;
}

.gg::before
{
    content: "";
    position: absolute;
    top:  -92.5px;
    left: -25px;
    width: 2px;
    height: 232.5px;
    background-color:whitesmoke;
}

/*trait horizontal qui arrive aux cases*/
.tournoi span
{
    position: absolute;
    background-color: whitesmoke;
    width: 23px;
    height: 2px;
    left: -23px;
    top: 50%;
}

/*éclaircissement quand on passe sur une case*/
.match:hover
{
    background-color: rgb(80, 80, 80);
}
